<%- include('bootheader') -%>
<%- include('menubar') -%>
<h1> About </h1>
 My name is Jeffrey Chen
 <br>
 <img src="https://www.glencoeanchor.com/sites/default/files/styles/article-image/public/1_dsc_0066_1.jpg?itok=StgmtoSa&c=01a7d6ebe893ae64a3a1e340ea85c0a9">


<%- include('bootfooter') -%>
