<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Cheap Shop Home Screen</h1>
        <p>Help shoppers find the best deals</p>
    </div>
    <ul>
      <li><a href="/myform">Shopping info</a>
        <div class ="col-md col-sm-6">
          <img src="http://www.pngnames.com/files/3/Discount-Transparent-Background.png" width="60%" height="60%">
          </div>

    </ul>
<%- include('bootfooter') -%>
