<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Cheap Shop Home Screen</h1>
        <p>Help shoppers find the best deals</p>
    </div>
    <ul>
      <li><a href="/myform">Shopping info</a>

    </ul>
<%- include('bootfooter') -%>
