<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Cheap Shop</h1>
        <p>Help shoppers find the best deals</p>
    </div>



<%- include('bootfooter') -%>
